body {
background-color: rgb(255, 255, 255);


}

#wrapper {
    display: grid;
    grid-template-areas:
    'nv nv nv'
    'mn mn mn'
    'ft ft ft';
    grid-template-rows: auto;
    row-gap: 0.5em;


}


nav { 
    grid-area: nv;
    background-color:#cce6ff;
    height: 10vh;
    padding-top: 20px;
    box-sizing: border-box;
    
    
}

h1 {

    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: auto;
    
    
}

main {
    grid-area: mn;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    border: solid black 5px;
    height: 90vh;
    padding: 40px 40px 40px 40px;

}

img {
    height: 400px;
    border: solid #cce6ff 10px;
    border-radius: 100%;
   
}

footer {
    grid-area: ft;
    border: solid black 5px;
    height: 20vh;
}






/*Photo by <a href="https://unsplash.com/@ramm_?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gita Krishnamurti</a> on <a href="https://unsplash.com/s/photos/boba-tea?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  