body {
background-color: rgb(255, 255, 255);


}

#wrapper {
    display: grid;
    grid-template-areas:
    'nv nv nv'
    'mn mn mn'
    'ar ar ar'
    'ft ft ft';
    grid-template-rows: auto;
    row-gap: 0.5em;


}


nav { 
    grid-area: nv;
    display: flex;
    background-color:#cce6ff;
    height: 13vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    
    
}

.logo {
    height: 90px;

}

h1 {

    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: auto;
    
    
}

main {
    grid-area: mn;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
   
    height: 42vh;
    padding: 40px 40px 0px 40px;
    margin-top: 20vh;

}

.boba {
    height: 400px;
    border: solid #cce6ff 10px;
    border-radius: 50%;
   
}

.brödtext {
    color: black;
    font-size: x-large;
}


#text {
    grid-area: ar;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20vh;
}

footer {
    grid-area: ft;
   
    height: 35vh;
    background-color: #cce6ff;
}

p {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}






/*Photo by <a href="https://unsplash.com/@ramm_?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gita Krishnamurti</a> on <a href="https://unsplash.com/s/photos/boba-tea?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  